<div>
    <h3>Reimbursement Requests</h3>
    <div>
      <button type="button" class="btn btn-success" (click)="toggleAddForm()">Submit Request</button>
      <div class="card m-5" *ngIf="toggleAdd">
        <div class="card-header bg-success text-white">Submit Request</div>
        <div  class="card-body">

          <form>
           
            <div class="mb-3" >
              <label for="dateOfTransaction" class="form-label">Transaction Date</label>
              <input 
              type="date" 
              class="form-control" 
              id="dateOfTransaction" placeholder="Enter Date Of Transaction" 
              name="Transaction Date"
              [(ngModel)]="newReimbursement.dateOfTransaction">
            </div>
            <div class="mb-3" >
              <label for="employeeID" class="form-label">Employee Id</label>
              <input 
              type="email" 
              class="form-control" 
              id="employeeID" placeholder="Enter your Employee Id." 
              name="employeeID"
              [(ngModel)]="newReimbursement.employeeID">
            </div>
            <div class="form-check mb-3">
              <label for="amount" class="form-label"> Transaction Amount</label>
              <input 
              type="text" 
              class="form-control" 
              id="amount" placeholder="Enter the transaction amount." 
              name="amount"
              [(ngModel)]="newReimbursement.amount">
            </div>
            <div class="form-check mb-3">
              <label for="expense" class="form-label">Expense Type</label>
              <input 
              type="text" 
              class="form-control" 
              id="expense" placeholder="Enter the expense amount." 
              name="expense"
              [(ngModel)]="newReimbursement.expenseType">
            </div>
            <div class="form-check mb-3">
              <label for="merchantName" class="form-label">Merchant Name</label>
              <input 
              type="text" 
              class="form-control" 
              id="merchantName" placeholder="Merchant Name" 
              name="merchantName"
              [(ngModel)]="newReimbursement.merchant">
            </div>
          
          </form>

        </div>
        <div class="card-footer bg-success"><button type="button" class="btn btn-light" (click)="addReimbursement()">SUBMIT</button></div>
      </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>EmployeeId</th>
            <th>fullName</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let employee of allEmployees" > 
            <td>{{employee.employeeID}}</td>
            <td>{{employee.fullName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
          <!-- <tr *ngFor = "let reimbursement of allReimbursements" > 
              <td>{{reimbursement.reimbursementID}}</td>
              <td>{{reimbursement.dateSubmitted}}</td>
              <td>{{reimbursement.dateOfTransaction}}</td>
              <td>{{reimbursement.employeeID}}</td>
              <td>{{reimbursement.amount}}</td>
              <td>{{reimbursement.merchant}}</td>
              <td>{{reimbursement.status}}</td>
              <td>{{reimbursement.dateUpdated}}</td> -->
   
              
              <td><button 
                type="button" 
                class="btn btn-primary"
                (click)="goToEditReimbursement(newEmployee.employeeID)">
                <i class="material-icons">edit</i>
              </button></td>

            
              <td><button 
                type="button" 
                class="btn btn-danger" 
                (click)="deleteEmployee(newEmployee.employeeID)"
              ><i class="material-icons">delete</i></button></td>

              
          
          </tr>
      
        </tbody>
      </table>
</div>

