<div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>employee</th>
            <th>status</th>
            <th>merchant</th>
            <th>expenseType</th>
            <th>amount</th>
            <th>details</th>
            <th>latest comment</th>
            <th>date of transaction</th>
            <th>date submitted</th>
            <th>last update</th>
        </thead>
    </table>
    <tbody>
        <tr *ngFor="let rem of allReimbursements">
            <td>{{rem.reimbursementID}}</td>
            <td>{{rem.employee}}</td>
            <td>{{rem.status}}</td>
            <td>{{rem.merchant}}</td>
            <td>{{rem.expenseType}}</td>
            <td>{{rem.amount}}</td>
            <td>{{rem.details}}</td>
            <td>{{rem.currentComment}}</td>
            <td>{{rem.dateOfTransaction}}</td>
            <td>{{rem.dateSubmitted}}</td>
            <td>{{rem.dateUpdated}}</td>

        </tr>
    </tbody>

</div>
